{% extends 'base.html' %}
{% block content %}
{% load static %}
<div style="margin-bottom: -20px">
	  <div class="" style="margin-left: 10px">
    <a class="btn-floating waves-effect waves-light title-back-btn" onclick="window.history.back();" onmouseover="" style="cursor: pointer;">
      <img src="/media/icons8-left-64.png" style="height: 45px;width: 45px; margin-bottom:5px;">  </a>
     <span class="grey-text text-darken-2" style="font-size: 1.64rem;line-height: 52px; margin-left: 50px;">Add Fee</span>
    </div>
  
</div>
<hr>
         
    <div class="col s12 m12 l12 padding-right-0 " style="padding-bottom:10%;">

    <div class="table" >
        <div class="card grey lighten-5 card_align_left">
          <div class="card-content white-text list_view">
            <!--Student list view-->
            	
            	<div style="display: inline;">
            	
            	<form action="{% url 'fees_management:add_fee' %}" method="post" enctype="multipart/form-data">
               <div name="div_classes" id="div_classes" style=" margin-top: 10px; margin-bottom: 10px">
            				<!-- <select name="student_class" required select class="disabled_toggle form-control" style="width: 200px" id="class_section" multiple="true">
                            <option value="" selected disabled>Class</option>
                            {% for class in section_class %} -->
			            	<!-- <option value="{{class}}"><input type="checkbox" name="class" value="{{class}}" id="class_section">{{class}}<br> </option>
			            	        {% endfor %}
                            	</select> -->

                              <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
                              <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
                              <script type="text/javascript">
                              $(document).ready(function() {
                                  $('.js-example-basic-multiple').select2();
                              });
                            </script>
                            <label for="classes" >Select Class:</label>
                            <select class="js-example-basic-multiple" name="classes" multiple="=multiple" style="width: 500px;">

                            {% for class in section_class %} -->
                    <option value="{{class}}">{{class}}</option>

                              {% endfor %}
                            </select>
                              </div>


                          	<!-- <input type="submit" name="submit" value="take" id="take"> -->
                            <br><br>

                            <div id="div_fee" style="display: -webkit-box !important;">
                         <input type="text" placeholder="Name/description" name="desc" id="description" class="form-control" style="width:250px; height: 30px;">&nbsp;
                         <input type="number" placeholder="Amount" name="amount" class="form-control" id="amount" style="width:250px; height: 30px;">
                        &nbsp;
                        <select id="id_cycle" name="cycle" required select class="disabled_toggle form-control" style="width:250px; height: 30px;"> 
                            <option value="" selected disabled>Cycle</option>
                            <option name="cycle" value="1">Annual</option>
                            <option value="2" name="cycle">Half Yearly</option>
                            <option value="3" name="cycle">Quarterly</option>
                            <option value="4" name="cycle">Monthly</option>
                        </select>
                        &nbsp;<!-- 
                          <input type="button" name="add_another" id="add_another" value="add another" class="form-control" style="width: auto;height: 30px">
                           -->
                           <span style="cursor: pointer;" name="add_another" id="add_another" value="add another" data-toggle="tooltip" title="Add another fee"><i class="fa fa-plus-square-o" style="font-size: 30px"></i></span>
                        </div><br>
                                   <div id="generate_codes_fee" class="generate_codes_fee" style="display: grid !important;">
                                  </div>
                                  <script type="text/javascript">
                                      // leavenum = $('#leavenum').val();
                                        $("#add_another").click(function(){
                                        html = "<div id='tab' class='generated_tab' style='display: -webkit-box !important'>";
                                        html += "<input type='text' placeholder='Name/description' name='another_desc' id='another_description' class='form-control' style='width:250px; height: 30px;'>&nbsp;";
                                        html += "<input type='number' placeholder='Amount' name='another_amount' id='another_amount' class='form-control' style='width:250px; height: 30px;'>&nbsp;";
                                        html+="<select id='another_id_cycle' name='another_cycle' required select class='disabled_toggle form-control' style='width:250px; height: 30px;'>";
                                        html += "<option selected disabled>Cycle</option>";
                                        html +="<option name='cycle' value='1'>Annual</option>";
                                        html +="<option value='2' name='cycle'>Half Yearly</option>";
                                        html +="<option value='3' name='cycle'>Quarterly</option>"
                                        html +="<option value='4' name='cycle'>Monthly</option>";
                                        html+="</select>";
                                        html += "</div> <br/>";
                                        $("#generate_codes_fee").append(html);

                                      });
                                  </script>
                        <input type="button" id="add" name="submit" value="Add" class="form-control" style="width: 100px;margin: 20px 20px">
                 </form>

                 <script type="text/javascript">
                    $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();   
                    });

                    $("#add").click(function(){
                      var url = "{% url 'fees_management:add_fee' %}";
                      var formData = [];
                      // alert('sadaf');
                      var classes = [];
                       var row = document.getElementsByClassName('generate_codes_fee');
                    for(i= 0;i<row.length;i++){
                    var td = row[i].getElementsByClassName('generated_tab');
                      for(j=0;j<td.length;j++){
                        var name = td[j].getElementsByClassName('another_description');
                        var amount = td[j].getElementsByClassName('another_amount');
                        var cycle = td[j].getElementsByClassName('another_cycle');
                        console.log(name + "" + amount +""+ cycle);
                          for(k=0;k<name.length;k++){
                           var val = name[k].innerHTML;
                            
                              
                            console.log(span[k].id);
                          }
                        }
                        
                      }
                      
                      // formData.push($('#description').val());
                      // formData.push($('#amount').val());
                      // formData.push($('#id_cycle').val());
                      // alert($('#amount').val());
                      //   $("input[name='class_section']:checked").each(function() {
                      //      classes.push(this.value);
                      //   });
                      //   console.log(formData);
                      //   console.log(classes);
                      //   var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                      //  $.ajax({
                      //   url: url,
                      //   type: "POST",
                      //   contentType: false,
                      //   processData: false,
                      //   csrftoken:csrftoken,
                      //   data: {
                      //       'formData' : formData,
                      //       'classes' : classes,
                      //   },
                      //   success: function (response) {
                      //       console.log(response);
                      //       alert("Successfully Added!");
                      //       // location.reload();
                      //   },
                      //   error: function (response) {
                      //       console.log(response);
                      //   },
                      // });//End of ajax request
                       });      

                 </script>
            	</div>
            </div>    		
       		</div>
       		</div>
         <script>//this script for filter the searchbox data of list institute form
             
             // $(".clickable-row").click(function(){
             //  var mid = $(this).attr('data-id');
             //  console.log(mid);
             //  alert(mid);
             //  // window.location.href = "{% url 'dashboard:student_profile' id=12 %}";
             //  // window.location="http://127.0.0.1:8000/dashboard/student/?id";
//             });
            </script>

{% endblock %}