{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Digimkey</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pikaday.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/shepherd.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dpy_custom.css' %}">
    <!-- JS -->
    <script src="{% static 'js/third_party/jquery.min.js' %}"></script>
    <script src="{% static 'js/third_party/popper.min.js' %}"></script>
    <script src="{% static 'js/third_party/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/third_party/tether.min.js' %}"></script>
    <script src="{% static 'js/third_party/shepherd.min.js' %}"></script>
    <script src="{% static 'js/third_party/moment.min.js' %}"></script>
    <script src="{% static 'js/third_party/pikaday.min.js' %}"></script>
    <script src="{% static 'js/dpy_custom.js' %}"></script>
  </head>
  <body>